<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>サンプルコード</title>
</head>
<body>
  <div class="container">
    <h1 class="my-3 h3">About Nyanstagram</h1>
   <div class="center-block">
      nyanstagramは、全国の可愛い野良猫達の写真を投稿できるSNSの１つです。
野良猫達の分布や写真から団体猫をTNR(捕獲、去勢・避妊、返す)をするためにも役立たせていただきます。
また、保護猫された猫の譲渡にも利用されます。

ただ写真をみて癒されるも良し、可愛い野良猫達を共有するのも良し、新しい家族との出会いの場でも良し、猫達のため団体と連絡を取って協力をするも良し。
用途は様々！是非楽しんでいってください。
    </div>
  </div>
</body>
</html>

