<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>dm一覧</h1>
      <table class="rooms table">
        <% @rooms.each do |room| %>
          <tbody>
          <tr class="room">
            <td class="room-name">
              <%= link_to "#{room.room_partner(current_user).nickname}さんとのルーム", room_path(room) %>
            </td>

            <td class="delete-room">
              <%= link_to "削除", room_path(room), method: :delete, class: "btn btn-xs btn-danger", data: { confirm: "#{room.room_partner(current_user).nickname}さんとの会話の履歴が全て削除されます。本当に削除しますか？" } %>
            </td>
          </tr>
        <% end %>
    </table>
    </div>
  </div>
</div>
