<h1>ProtectiveCats#index</h1>
<%= render 'view/protective_cats/search', q: @q, url: protective_cats_path %>

 <li>
    <%= link_to '新規投稿', new_protective_cat_path %>
  </li>

<%= render 'list', protective_cats: @protective_cats %>